Name: Rashmika NRS <br>
Contact number: 8825656823 <br>
July 28,2023 weekday morning batch

Q. Declare a float value and store it in a variable. Check the type and print the id of the same.

In [1]:
a=10.23 # variable declared and value stored
print(type(a)) # type of variable
print(id(a)) # id of variable

<class 'float'>
2813157881360

Q. Arithmetic Operations on float Take two different float values. Store them in two different variables. Do below operations on them:-    Find sum of both numbers    Find difference between them    Find the product of both numbers.    Find value after dividing first num with second number    Find the remainder after dividing first number with second number    Find the quotient after dividing first number with second number    Find the result of the first num to the power of the second number.

In [3]:
b=2.35
c=2.315
print(b+c) # sum
print(b-c) # difference
print(b*c) # product
print(b/c) # division
print(b%c) # modulus
print(b//c) # floor division
print(b**c) # exponentiation

4.665
0.03500000000000014
5.44025
1.0151187904967602
0.03500000000000014
1.0
7.228065861484164

Q. Comparison Operators on float Take two different float values. Store them in two different variables. Do below operations on them:-    Compare these two numbers with below operator:-        Greater than, '>'  Smaller than, '<'  Greater than or equal to, '>='  Less than or equal to, '<=' Observe their output(return type should be boolean)

In [4]:
d=-0.68
e=-0.681
print(d>e) # Greater than
print(d<e) # Lesser than
print(d>=e) # Greater than or equal to
print(d<=e) # Lesser than or equal to

True
False
True
False

Q. Equality Operator Take two different float values. Store them in two different variables. Equate them using equality operators (==, !=) Observe the output(return type should be boolean)

In [5]:
f=189.365
g=27.463
print(f==g)
print(f!=g)

False
True

Q. Logical operators Observe the output of below code Cross check the output manually  <br>
print(10.20 and 20.30)       #both are true and second value taken <br>
Output is 20.3  <br>
print(0.0 and 20.30)         #First is false so first value taken<br>
Output is 0.0 <br>
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken<br>
Output is 0.0 <br>
print(0.0 and 0.0)           #First is false so first value is taken<br>
Output is 0.0 <br>
print(10.20 or 20.30)        #First is True so first value is taken<br>
Output is 10.2 <br>
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken<br>
Output is 20.3 <br>
print(20.30 or 0.0)          #First is True so first value is taken<br>
Output is 20.3<br>
print(0.0 or 0.0)            #Goes to till second and second is also false and second value is taken<br>
Output is 0.0 <br>
print(not 10.20)             #-Not of true is false<br>
Output is False<br>
print(not 0.0)               #Not of false is True<br>
Output is True

In [6]:
print(10.20 and 20.30) #both are true and second value taken
print(0.0 and 20.30) #First is false so first value taken
print(20.30 and 0.0) #Goes to till second and second value is false so second is taken
print(0.0 and 0.0) #First is false so first value is taken
print(10.20 or 20.30) #First is True so first value is taken
print(0.0 or 20.30) #Goes to till second and second is true second value is taken
print(20.30 or 0.0) #First is True so first value is taken
print(0.0 or 0.0) #Goes to till second and second is also false and second value is taken
print(not 10.20) #-Not of true is false
print(not 0.0) #Not of false is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

Q. What is the output of expression inside print statement. Cross check before running the program.<br> 
a = 10.20<br>
b = 10.20<br>
print(a is b)          #True or False? True 10.20<256<br>
print(a is not b)      #True or False? False <br>
Why the Id of float values are different when the same value is assigned to two different variables ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same

In [11]:
a = 10.20
b = 10.20
print(id(a))
print(id(b))
print(a is b) # gives false because there is no concept of object reusability..
# since float values have infinite no of possibilities, float does not have interning like integer
# So, the float values have a unique memory id even though the given value is same
print(a is not b) # gives true because the memory id of 'a' and 'b' differ

a=c
print(id(a))
print(id(c))
print(a is c) # gives true because the memory id containing the object 10.20 already has a label 'a'.
# When we give a=c, the memory id containing the object 10.20 will get another label 'c'.
# So, both 'a' and 'c' refer the same object with same memory id

2813157881488
2813157875024
False
True
2813157869424
2813157869424
True

Q. Bitwise operation is not applicable between instances of float. Why the Id of float values are different when the same value is assigned to two different variables ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same Object reusability concept is not applicable on float values.

In [12]:
a=c
print(id(a))
print(id(c))
print(a is c) # gives true because the memory id containing the object 10.20 already has a label 'a'.
# When we give a=c, the memory id containing the object 10.20 will get another label 'c'.
# So, both 'a' and 'c' refer the same object with same memory id

# Object reusability concept is not applicable on float values..but, these variables refer the same object with same memory id

2813157869424
2813157869424
True

Q. Membership operation in, not in are two membership operators and it returns boolean value<br>
print('2.7' in 'Python2.7.8')              #True <br>
print(10.20 in [10,10.20,10+20j,'Python']) #True <br>
print(10.20 in (10,10.20,10+20j,'Python')) # True <br>
print(20.30 in {1,20.30,30+40j})           # True<br>
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True <br>
print(10 in range(20))                     # True

In [10]:
print('2.7' in 'Python2.7.8')             
print(10.20 in [10,10.20,10+20j,'Python']) 
print(10.20 in (10,10.20,10+20j,'Python')) 
print(20.30 in {1,20.30,30+40j})          
print(2.3 in {1:100, 2.3:200, 30+40j:300}) 
print(10 in range(20))

True
True
True
True
True
True